<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>normalstory 2018</title>

        <link rel="shortcut icon" href="/static/images/base/favi.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="chanwoo's homepage" />
        <meta name="keywords" content="ux, normalstory, chanwoo, service design, mobile, VUI, chatbot" />
        <meta name="author" content="normalstory" />
		    <meta name="naver-site-verification" content="58f0703d977908a9f5b453d81fa40d63d678eb60"/>

        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<script type="text/javascript" src="/static/js/modernizr.custom.86080.js"></script>
    </head>

    <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>미치도록 가벼운 공간</h3></div></li>
            <li><span>Image 02</span><div><h3>그리고 감성</h3></div></li>
            <li><span>Image 03</span><div><h3>normalstory</h3></div></li>
            <li><span>Image 04</span><div><h3>거창하지 않아도 좋아</h3></div></li>
            <li><span>Image 05</span><div><h3>서른 넷 싱글남</h3></div></li>
            <li><span>Image 06</span><div><h3>청춘만화 변찬우</h3></div></li>
        </ul>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <span class="right">
                    <a href="https://www.facebook.com/normalstory" target="_blank">facebook</a>
                    <a href="https://twitter.com/normalstory" target="_blank">twitter</a>
                    <a href="http://normalstoryt1.dothome.co.kr/" target="_blank">shareBooks</a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>반짝반빡 퐁당퐁당</h1>
                <h2>일상 UX기획자</h2>
                <br /> <br />
                Byeon Chanwoo
                    <p class="codrops-demos">
                        <a href="http://normalstory.com/static/data/aboutChanwoo.pdf" target="_blank">About Me</a>
                        <a href="http://normalstory.com/static/data/referenceChanwoo.pdf" target="_blank">Reference</a>
                    </p><br />
                normalstory
					<p class="codrops-demos">
	                    <a href="http://normalstory.tistory.com/category/think%20normal">think normal</a>
						<a href="http://normalstory.tistory.com/entry/%EC%95%84%EC%A7%81%E2%80%A6-%EB%84%88%EB%AC%B4-%EA%B0%80%EB%B2%BC%EC%9A%B4">일기일회(一期一會)</a>
                    </p><br />
                Recently R&D LIST
                    <p class="codrops-demos">
                        <a href="https://normalstory.com:8000/on/chatbot/" target="_blank">Chatbot on VUI</a><br />
                        <a href="https://normalstory.com:8000/on/stt_on_web/" target="_blank">Order by VUI</a><br />
                        <a href="https://indigo.imweb.me/" target="_blank">Models of VUI</a><br />
                        <a href="https://contextofme.imweb.me/" target="_blank">VUI Messenger</a>
                    </p>
            </header>
        </div>

        <!-- Codrops bottom bar -->
        <div class="codrops-bottom">
        	Since 2008
            <span class="right">
                <a href="mailto:everpresent@hanmail.net">everpresent@hanmail.net</a>
            </span>
            <div class="clr"></div>
        </div><!--/ Codrops top bar -->
    </body>
</html>
